<form class="mx-auto form-style" action="/restaurants" method="POST">
  <fieldset id="input-new">
    <legend>Edit area</legend>
    <label for="name">Name:</label>
    <input type="text" name="name" required><br />

    <label for="name_en">Eng Name:</label>
    <input type="text" name="name_en"><br />

    <label for="category">Category:</label>
    <input type="text" name="category"><br />

    <label for="image">Image:</label>
    <input type="text" name="image"><br />

    <label for="location">Location:</label>
    <input type="text" name="location"><br />

    <label for="phone">Phone:</label>
    <input type="text" name="phone"><br />

    <label for="google_map">Google_map:</label>
    <input type="text" name="google_map"><br />

    <label for="rating">Rating:</label>
    <input type="text" name="rating"><br />

    <label for="description">Description:</label>
    <input type="text" name="description"><br />
    <button class="btn btn-dark" type="submit">Create</button>
    <button class="btn btn-dark" type="reset" value="Reset">Reset</button>
  </fieldset>
</form>